#right-side-wrapper {
  display: none;
  position: relative;  
  @if $use_new_styles == false {
    width: 0;
    right: 0;  
  }
}

#right-side {
  position: relative;
  // puts it equal with #main, used so datepickers that pop up from #right-side pop up on top
  z-index: 10;
  min-height: 20px;
  @if $use_new_styles == false {
    width: $right_side_width - $right_side_margin * 2;
    color: $ic-color-dark;
    margin: $right_side_margin $right_side_margin 0;
  }
  hr {
    border: dotted #aaa;
    border-width: 1px 0 0;
    margin: 17px 0 20px;
  }
  h2, .h2 {
    font-size: 14px;
    overflow: hidden;
    line-height: 1.2em;
    @if $use_new_styles {
      border-bottom: 1px solid $ic-border-light;
      padding-bottom: $ic-sp;
      margin: 0 0 $ic-sp;
      font-weight: 500;
    }
    @else {
      color: $gray;
      font-weight: bold;
      border-bottom: solid 1px #bbb;
      margin: $right_side_margin 0; 
      padding-bottom: 6px; 
    }
  }
}

.rs-match-list-indent {
  padding-left: 31px;
}

// .rs-margin-lr was removed because it is not needed since #right-side has it's own margin
.rs-margin-top {
  margin-top: $right_side_margin;
}

.rs-margin-all {
  margin-top: $right_side_margin;
  margin-bottom: $right_side_margin;
}

.rs-margin-bottom {
  margin-bottom: $right_side_margin;
}

.right-side-list {
  @include reset-list;
  @if $use_new_styles { margin: 0 0 $ic-sp; }
  @else { margin: 10px 0; }
  li {
    a {
      font-size: 12px;
      padding-top: 4px;
      padding-bottom: 4px;
      display: block;
      border-bottom: 1px solid #d6d6d6;
      @if $use_high_contrast {
        text-decoration: none;
      }
      &:hover, &:focus {
        b, &.more_link {
          text-decoration: underline;
        }
        em {
          color: #666;
        }
      }
      // Not underlining on hover due to ugliness with accompanying icons
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: underline;
      }
    }
    &:last-child a {
      border-bottom: none;
      box-shadow: none;
    }
    // this is for things like "nothing for the next week"
    small {
      display: block;
      @if $use_new_styles {
        font-style: italic;
        font-size: 13px;
      }
      @else {
        padding: 3px 0 0px 31px;
        color: #666;
        font-size: 1em;  
      }
    }
    b, em {
      font-weight: normal;
      display: block;
    }
    em, .more_link {
      font: {
        style: italic;
        size: 10px;
      };
      line-height: 13px;
    }
    em {
      @if $use_high_contrast {
        color: #555;
      }
      @else {
        color: #777;
      }
      padding-bottom: 2px;
    }
    .more_link {
      padding-top: 6px;
    }
  }
  .recent_feedback_icon {
    background-position: 0 $ic-sp*.75;
  }
  .recent_feedback_title {
    line-height: 1.3;
    margin-bottom: $ic-sp/4;
  }
  .recent_feedback_comment {
    color: $gray-light;
    border: 0;
  }
  .tooltip {
    .tooltip_wrap {
      left: -185px;
      width: 185px;
      height: 70px;
      top: 0;
      font-size: 0.9em;
      background-image: none;
    }
    .tooltip_text {
      margin-right: 15px;
      min-height: 30px;
    }
    .tooltip-carat {
      border-bottom: 7px solid transparent;
      border-left: 14px solid #444444;
      border-top: 7px solid transparent;
      display: block;
      margin-top: 12px;
      float: right;
      width: 1px;
      height: 1px;
    }
  }
  &.to-do-list {
    li {
      position: relative;
      a.item {
        b {
          padding-right: 20px;
        }
      }
      a.disable_item_link {
        @if $use_high_contrast {
          color: #555;
        }
        @else {
          color: #777;
        }
        padding: 0;
        position: absolute;
        background-image: none;
        right: 0;
        top: 2px;
        z-index: 2;
        border-bottom: none;
        box-shadow: none;
      }
      &:hover {
        a.disable_item_link {
          @if $use_high_contrast {
            color: #222;
          }
          @else {
            color: #444;
          }
        }
      }
      .icon-peer-review:before {
        position: absolute;
        left: 0;
        top: 14px;
        color: #999;
      }
    }
  }
}

// these are the classes that get applied to #right-side-wrapper to handle $.scrollSidebar
// NOTE: they used to get applied to body but were moved to #right side to not force a repaint
// of the entire page and be less jumpy going in and out display modes.
.with-scrolling-right-side {
  
  @if $use_new_styles {
    #right-side {
      @include breakpoint(desktop) {
        position: fixed;
        top: 0;
        margin-top: 0;
        width: 240px;
      }
    }
  }
  @else {
    #right-side {
      position: fixed;
      top: 0;
      margin-top: 0;
    }
  }

}

#right-side-wrapper.with-sidebar-pinned-to-bottom {
  @if $use_new_styles {
    @include breakpoint(desktop) {
      #right-side {
        position: fixed;
        top: 0;
        margin-top: 0;
        width: 240px;
      }
    }
  }
  @else {
    position: absolute;
    bottom: 0;
  }
}

@if $use_new_styles {
  .ic-sidebar-logo {
    display: none;
    margin-bottom: $ic-sp*2;
    text-align: center;
    @include breakpoint(desktop) {
      display: block;
    }
  }
  .ic-sidebar-logo__image {
    max-width: 180px;
    max-height: 70px;
    display: inline-block;
  }
}
