<%
# This is rendered both on the dashboard and on the course homepage. On the
# dashboard, contexts is nil, and so the cache is only based on the user, which
# does not get touched when an assignment needs_grading count changes. So for
# the dashboard, we expire after 3 minutes. On the course page, contexts is the
# course, which does get touched, and so the cache expiration works.
#
# BTW if you add a new thing here, it probably needs adding to the /users/self/todo API
cache_opts = (contexts.present? ? {} : { :expires_in => 3.minutes })
cache(safe_cache_key([@current_user, contexts, 'a_need_grading']), cache_opts) do
 show_context = !contexts || contexts.length > 1
 visible_limit = 5
 needs_grading = @current_user ? @current_user.assignments_needing_grading(:contexts => contexts, :limit => 100) : []
 needs_moderation = @current_user ? @current_user.assignments_needing_moderation(:contexts => contexts, :limit => 100) : []
 needs_submitting = @current_user ? @current_user.assignments_needing_submitting(:contexts => contexts, :limit => 100) : []
 needs_reviewing = @current_user ? @current_user.submissions_needing_peer_review(:contexts => contexts, :limit => 100) : []
 hidden_todos = 0
%>

<% if @current_user && needs_grading.present? || needs_moderation.present? || needs_submitting.present? || needs_reviewing.present? %>
  <h2><%= t('headings.to_do', %{To Do}) %></h2>
  <ul class="right-side-list to-do-list">
    <% needs_grading.each_with_index do |assignment, i| %>
      <% icon_explanation, icon_aria_label, icon_class = icon_data(context: assignment.context,
                                                                   current_user: @current_user,
                                                                   recent_event: assignment)
      %>
      <li style="<%= hidden if i >= visible_limit %>">
        <a
          class="item tooltip"
          href="<%= speed_grader_course_gradebook_path( assignment.context_id, :assignment_id => assignment.id) %>"
          data-track-category="dashboard"
          data-track-label="todo needs grading"
        >
          <% if assignment.due_at || assignment.points_possible || show_context %>
            <span class="tooltip_wrap">
              <span class='tooltip-carat'></span>
              <span class="tooltip_text">
                <span style="display: block;"><%= translated_due_date(assignment) %></span>
                <% if assignment.points_possible %>
                  <span style="display: block; font-size: 0.8em;"><%= t 'points_possible', 'out of %{points_possible}', :points_possible => assignment.points_possible %></span>
                <% end %>
                <% if show_context %>
                  <span style="display: block; font-size: 0.8em;"><%= assignment.context.short_name %></span>
                <% end %>
              </span>
            </span>
          <% end %>
          <i class="<%= icon_class %>" aria-label="<%= icon_aria_label %>"></i>
          <div class="todo-detail">
            <b><%= t 'headings.grade', 'Grade %{assignment}', :assignment => assignment.title %></b>
            <em>
              <%= t 'need_grading_count', { one: '1 needs grading', other: '%{count} need grading' }, count: Assignments::NeedsGradingCountQuery.new(assignment, @current_user).count %>
            </em>
          </div>
        </a>
        <%= render :partial => 'shared/ignore_option_list', :locals => {:type => 'grading', :item => assignment } %>
      </li>
    <% end %>
    <% needs_moderation.each_with_index do |assignment, i| %>
      <% icon_explanation, icon_aria_label, icon_class = icon_data(context: assignment.context,
                                                                   current_user: @current_user,
                                                                   recent_event: assignment)
      %>
      <li style="<%= hidden if i >= visible_limit %>">
        <a
        class="item tooltip"
        href="<%= course_assignment_moderate_path(assignment.context_id, assignment) %>"
        data-track-category="dashboard"
        data-track-label="todo needs moderation"
        >
          <% if assignment.due_at || assignment.points_possible || show_context %>
            <span class="tooltip_wrap">
              <span class='tooltip-carat'></span>
              <span class="tooltip_text">
                <span style="display: block;"><%= translated_due_date(assignment) %></span>
                <% if assignment.points_possible %>
                  <span style="display: block; font-size: 0.8em;"><%= t 'points_possible', 'out of %{points_possible}', :points_possible => assignment.points_possible %></span>
                <% end %>
                <% if show_context %>
                  <span style="display: block; font-size: 0.8em;"><%= assignment.context.short_name %></span>
                <% end %>
              </span>
            </span>
          <% end %>
          <i class="<%= icon_class %>" aria-label="<%= icon_aria_label %>"></i>
          <div class="todo-details">
            <b><%= t 'headings.moderate', 'Moderate %{assignment}', :assignment => assignment.title %></b>
          </div>
        </a>
        <%= render :partial => 'shared/ignore_option_list', :locals => {:type => 'moderation', :item => assignment } %>
      </li>
    <% end %>
    <% needs_submitting.each_with_index do |assignment, i| %>
      <% icon_explanation, icon_aria_label, icon_class = icon_data(context: assignment.context,
                                                                   current_user: @current_user,
                                                                   recent_event: assignment,
                                                                   student_only: true)
      %>
      <li class="todo" style="<%= hidden if i >= visible_limit %>">
        <a
          class="item tooltip todo-tooltip"
          href="<%= course_assignment_path( assignment.context_id, assignment.id ) %>#submit"
          data-track-category="dashboard"
          data-track-label="todo needs submitting"
        >
          <% if show_context || assignment.points_possible %>
            <span class="tooltip_wrap">
              <span class='tooltip-carat'></span>
              <span class="tooltip_text">
                <% if assignment.points_possible %>
                  <span class="screenreader_points_possible" aria-live="true" style="display: block; font-size: 0.8em;"><%= t 'points_possible', 'out of %{points_possible}', :points_possible => assignment.points_possible %></span>
                <% end %>
                <% if show_context %>
                  <span style="display: block; font-size: 0.8em;"><%= assignment.context.short_name %></span>
                <% end %>
              </span>
            </span>
          <% end %>
          <i class="<%= icon_class %>" aria-label="<%= icon_aria_label %>"></i>
          <div class="todo-details">
            <b><%= assignment.submission_action_string %></b>
            <em><%= translated_due_date(assignment) %></em>
          </div>
        </a>
        <%= render :partial => 'shared/ignore_option_list', :locals => {:type => 'submitting', :item => assignment } %>
      </li>
    <% end %>
    <% needs_reviewing.each_with_index do |assessment_request, i| %>
      <% if assessment_request.asset.assignment.published? %>
        <li style="<%= hidden if i >= visible_limit %>">
        <% assignment = assessment_request.asset.assignment %>
          <a
            class="item tooltip"
            href="<%= course_assignment_submission_path( assignment.context_id, assignment.id, assessment_request.user_id) %>"
            data-track-category="dashboard"
            data-track-label="todo needs reviewing"
            data-tooltip
            title="<%= submission_author_name_for(assessment_request, "#{t('user')}: ") %>"
          >
            <i class="icon-peer-review" aria-label="Peer Review"></i>
            <div class="todo-detail">
              <b>Peer Review for <%= assignment.title %></b>
              <em>
                <% if assignment.peer_reviews_due_at %>
                  <%= t('peer_review_due_date', 'due: %{peer_review_due_at}', {:peer_review_due_at => datetime_string(force_zone(assignment.peer_reviews_due_at))}) %>
                <% else %>
                  <%= t('no_peer_review_due_date', 'due: No Due Date') %>
                <% end %>
              </em>
            </div>
          </a>
          <%= render :partial => 'shared/ignore_option_list', :locals => {:type => 'reviewing', :item => assessment_request} %>
        </li>
      <% end %>
    <% end %>
    <% hidden_items = [needs_grading.length - visible_limit, 0].max + [needs_submitting.length - visible_limit, 0].max + [needs_reviewing.length - visible_limit, 0].max %>
    <% if hidden_items > 0 %>
      <li>
      <a href="#" class="more_link">
        <%= t 'links.show_more', '%{count} more...', :count => hidden_items %>
      </a>
      </li>
    <% end %>
  </ul>
  <% end %>
<% end %>
