<%
  @active_tab = "settings"
  add_crumb t(:settings_crumb, "Settings")
  js_bundle :account_settings
  css_bundle :account_settings, :reports, :tinymce
  content_for :page_title, t(:page_title, "Account Settings")
  if can_do(@context, @current_user, :manage_storage_quotas)
    js_env :ACCOUNT => {
      'id' => @context.id,
      'default_storage_quota_mb' => @context.default_storage_quota_mb,
      'default_user_storage_quota_mb' => @context.default_user_storage_quota_mb,
      'default_group_storage_quota_mb' => @context.default_group_storage_quota_mb,
      'site_admin' => @account.site_admin?,
      'root_account' => @account.root_account?
    }
  end
%>


<% content_for :right_side do %>
  <%= render :partial => "courses_right_side" unless @account.site_admin? %>
  <%= render :partial => "additional_settings_right_side" %>
<% end %>
<h1 class='screenreader-only'><%= t(:page_header_title, "Account Settings") %></h1>
<% content_for :stylesheets do %>
  <style type="text/css" media="screen">
    fieldset {
      margin: 2em 0;
    }
    legend{
      font-size: 1.1em;
    }
  </style>
<% end %>

<div id="account_settings_tabs" style="display:none;" class="ui-tabs-minimal">
  <ul>
    <% if can_do(@context, @current_user, :manage_account_settings) %>
    <li><a href="#tab-settings" id="tab-settings-link"><%= t(:tab_settings, "Settings") %></a></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_storage_quotas) %>
    <li><a href="#tab-quotas" id="tab-quotas-link"><%= t(:tab_quotas, "Quotas") %></a></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_account_settings) && @account.root_account? && !@account.site_admin? %>
    <li><a href="#tab-notifications" id="tab-notifications-link"><%= t(:tab_notifications, "Notifications") %></a></li>
    <% end %>
    <li><a href="#tab-users" id="tab-users-link"><%= t(:tab_admins, "Admins") %></a></li>
    <% if @account.root_account? %>
      <li><a href="#tab-announcements" id="tab-announcements-link"><%= t(:tab_announcements, "Announcements") %></a></li>
    <% end %>
    <% if !@available_reports.blank? %>
      <li><a href="#tab-reports" id="tab-reports-link"><%= t(:tab_reports, "Reports") %></a></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_account_settings) %>
      <li><a href="#tab-tools" id="tab-tools-link"><%= t(:tab_external_tools, "Apps") %></a></li>
    <% end %>
    <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
      <li><a href="#tab-alerts" id="tab-alerts-link"><%= t(:tab_alerts, "Alerts") %></a></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_feature_flags) %>
      <li><a href="#tab-features" id="tab-features-link"><%= t(:feature_options, "Feature Options") %></a></li>
    <% end %>
  </ul>
  <% if can_do(@context, @current_user, :manage_account_settings) %>
    <div id="tab-settings">
      <h2 class="screenreader-only"><%= t('headings.settings', "Account Settings") %></h2>
      <%= form_for :account, :url => account_url(@account), :html => {:method => :put, :id => "account_settings", :class => 'account_settings'} do |f| %>
        <fieldset id="account_settings">
          <legend><%= t(:account_settings_title, "Account Settings") %></legend>
          <table class="formtable">
            <tr>
              <td><%= f.blabel :name, :en => "Account Name" %></td>
              <td><%= f.text_field :name, :class => 'same-width-as-select' %></td>
            </tr>
            <% if !@account.root_account? && (@context.sis_source_id && can_do(@context.root_account, @current_user, :read_sis) || can_do(@context.root_account, @current_user, :manage_sis)) %>
              <tr>
                <td><%= f.blabel :sis_source_id, :en => "SIS ID" %></td>
                <td>
                  <span class="course_form">
                    <% if can_do(@context.root_account, @current_user, :manage_sis) %>
                      <%= f.text_field :sis_source_id, :title => "SIS ID", :value => @context.sis_source_id %>
                    <% else %>
                      <span class="sis_source_id"><%= @context.sis_source_id %></span>
                    <% end %>
                  </span>
                </td>
              </tr>
            <% end %>
            <% if available_locales.size > 1 %>
            <tr>
              <td><%= f.blabel :default_locale, :default_language, :en => "Default Language" %></td>
              <td>
                <% no_language = t(:no_language_preference, "Not set (defaults to %{language})", :language => available_locales[infer_locale(:context => @context.parent_account)]) %>
                <%= f.select :default_locale, [[no_language, nil]] + available_locales.invert.sort, {:selected => @context.default_locale}, {:class => 'locale'} %>
                <%= render :partial => 'shared/locale_warning' %>
                <p class="unbreakable"><%= mt :transifex_message, <<-TEXT, :transifex_url => "https://www.transifex.com/projects/p/canvas-lms/"
Join the [Canvas Translation Community](%{transifex_url})
TEXT
                %>
                </p>
                <p style="font-size: 0.9em;"><%= t(:default_language_description, "This will override any browser/OS language settings. Preferred languages can still be set at the course/user level.") %></p>
              </td>
            </tr>
            <% end %>
            <% if @account.root_account? %>
              <tr>
                <td><%= f.blabel :default_time_zone, :en => "Default Time Zone" %></td>
                <td>
                  <%= f.time_zone_select :default_time_zone, I18nTimeZone.us_zones, :model => I18nTimeZone %>
                </td>
              </tr>
              <%= f.fields_for :settings do |settings| %>
                <% if @account.grants_right?(@current_user, :manage_site_settings) %>
                  <tr>
                    <td><%= settings.blabel :mfa_settings, :en => "Multi-Factor Authentication" %></td>
                    <td><%= settings.select :mfa_settings, [[t('select.mfa.disabled', "Disabled"), :disabled],
                                                            [t('select.mfa.optional', "Optional"), :optional],
                                                            [t('select.mfa.required_for_admins', "Required for Admins"), :required_for_admins],
                                                            [t('select.mfa.required', "Required"), :required]], :selected => @account.mfa_settings %>
                    </td>
                  </tr>
                <% end %>
                <% unless @account.site_admin? %>
                  <tr>
                    <td><%= settings.blabel :self_enrollment, :en => "Allow Self-Enrollment" %></td>
                    <td>
                      <%= settings.select :self_enrollment, [
                              [t(:never_allow_self_enrollment_option, 'Never'), ''],
                              [t(:self_enroll_for_manually_created_courses_option, 'For Manually-Created Courses'), 'manually_created'],
                              [t(:self_enroll_for_any_courses_option, 'For Any Courses'), 'any']
                        ], :selected => @account.settings[:self_enrollment] %>
                    </td>
                  </tr>

                  <% unless @account.non_canvas_auth_configured?
                    # if the account has a account_authorization_config,
                    # we'll control this setting from that page
                  %>
                    <tr>
                      <td>
                        <%= settings.blabel :login_handle_name, en: "Login Label" %>
                      </td>
                      <td>
                        <%= settings.text_field :login_handle_name,
                                                value: @account.login_handle_name,
                                                class: 'same-width-as-select',
                                                placeholder: t(:login_handle_name_placeholder, "ex: Login, Username, or Student ID") %>
                      </td>
                    </tr>
                  <% end %>

                  <tr>
                    <td><%= settings.blabel :trusted_referers, :en => "Trusted HTTP Referers" %></td>
                    <td>
                      <%= settings.text_field :trusted_referers,
                                              :value => @account.settings[:trusted_referers],
                                              :class => 'same-width-as-select',
                                              :placeholder => "https://example.edu" %>
                      <p style="font-size: 0.9em;"><%= t("This is a comma separated list of URL's to trust.  Trusting any URL's in this list will bypass the CSRF token when logging in to Canvas.") %></p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2"><%= settings.check_box :prevent_course_renaming_by_teachers, :checked => @account.settings[:prevent_course_renaming_by_teachers] %>
                    <%= settings.label :prevent_course_renaming_by_teachers, :en => "Don't let teachers rename their courses" %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><%= settings.check_box :allow_sending_scores_in_emails, :checked => @account.settings[:allow_sending_scores_in_emails] != false %>
                    <%= settings.label :allow_sending_scores_in_emails, :en => "Students can opt-in to receiving scores in email notifications" %>
                    </td>
                  </tr>
                  <% if @account.grants_right?(@current_user, :manage_site_settings) %>
                    <tr>
                      <td colspan="2"><%= settings.check_box :include_students_in_global_survey, checked: @account.include_students_in_global_survey?%>
                        <%= settings.label :include_students_in_global_survey, en: "Include students in global surveys" %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="2"><%= settings.check_box :restrict_quiz_questions, :checked => @account.settings[:restrict_quiz_questions] %>
                      <%= settings.label :restrict_quiz_questions, :en => "Restrict students from viewing quiz questions after course end date" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            <% unless @account.site_admin? %>
              <%= f.fields_for :settings do |settings| %>
                <%= settings.fields_for :restrict_student_past_view do |r| %>
                  <% hash = @account.restrict_student_past_view %>
                  <% disabled = hash[:locked] && hash[:inherited] %>
                  <tr>
                    <td colspan="2"><%= r.check_box :value, :checked => hash[:value], :disabled => disabled %>
                      <%= r.label :restrict_student_past_view, :en => "Restrict students from viewing courses after end date" %>
                    </td>
                  </tr>
                  <% unless disabled %>
                    <tr>
                      <td colspan="2" class="sub_checkbox">
                        <%= r.check_box :locked, :checked => hash[:locked] %>
                        <%= r.label :locked, :en => "Lock this setting for sub-accounts and courses" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>

                <%= settings.fields_for :restrict_student_future_view do |r| %>
                  <% hash = @account.restrict_student_future_view %>
                  <% disabled = hash[:locked] && hash[:inherited] %>
                  <tr>
                    <td colspan="2"><%= r.check_box :value, :checked => hash[:value], :disabled => disabled %>
                      <%= r.label :restrict_student_future_view, :en => "Restrict students from viewing courses before start date" %>
                    </td>
                  </tr>
                  <% unless disabled %>
                    <tr>
                      <td colspan="2" class="sub_checkbox">
                        <%= r.check_box :locked, :checked => hash[:locked] %>
                        <%= r.label :locked, :en => "Lock this setting for sub-accounts and courses" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </fieldset>

        <%= render :partial => 'additional_settings' %>

        <% if !@account.site_admin? &&
               @account.root_account? &&
               @account.feature_enabled?(:google_docs_domain_restriction) &&
               @account.grants_right?(@current_user, :manage_site_settings) %>
          <fieldset id="google-docs-domain">
            <legend><%= t(:google_docs_domain, 'Allowed Google Docs Domain') %></legend>

            <%= f.fields_for :settings do |settings| %>
              <%= settings.label      :google_docs_domain, t('labels.domain', 'Domain:') %>
              <%= settings.text_field :google_docs_domain, placeholder: 'gmail.com', value: @account.settings[:google_docs_domain] %>
            <% end %>
          </fieldset>
        <% end %>

        <% unless @account.site_admin? %>
          <fieldset>
            <legend><%= t(:quiz_ip_filters_title, "Quiz IP Address Filters")%>
              <%= link_to("<i class='icon-question standalone-icon'></i>".html_safe, '#', :class => 'ip_help_link no-hover', :title => t(:quiz_ip_filters_help_tooltip, "What are Quiz IP Filters?")) %></legend>

            <div id="ip_filters_dialog" style="display: none;">
              <h2><%= t(:quiz_ip_filters_help_title, "What are Quiz IP Filters?") %></h2>
              <%= mt(:quiz_ip_filters_help_message,
              "Quiz IP filters are a way to limit access to quizzes to computers in a specified IP range.\n\n" +

              "Specify a set of IP address filters that teachers can use to " +
              "protect access to quizzes.  Filters can be a comma-separated " +
              "list of addresses, or an address followed by a mask " +
              "(\"192.168.217.1/24\" or \"192.168.217.1/255.255.255.0\").\"") %>
            </div>
            <table class="formtable">
              <tbody id="ip_filters">
                <% ((@account.settings[:ip_filters] || {}).sort_by(&:first) << [nil, nil]).each do |name, filter| %>
                  <tr class="ip_filter <%= raw ' blank" style="display: none;' if name.nil? %>">
                    <td><%= before_label(t(:ip_filter_name_label, "Name")) %></td>
                    <td><input type="text" class="name" value="<%= name %>"/></td>
                    <td><%= before_label(t(:ip_filter_filter_label, "Filter")) %></td>
                    <td><input type="text" class="value" value="<%= filter %>" maxlength="255"/></td>
                    <td>
                      <a href="#" title="<%= t(:quiz_ip_filters_delete, "Remove Filter") %>" class="delete_filter_link"><i class="icon-end standalone-icon"></i></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <a href="#" class="icon-add add_ip_filter_link" style="font-size: 0.9em;"><%= t(:add_ip_filter_link, "Add another filter") %></a>
          </fieldset>
        <% end %>

        <fieldset>
          <legend><%= t(:features_title, "Features") %></legend>
          <%= f.fields_for :settings do |settings| %>
            <% if @account.root_account? %>
              <% if @account.grants_right?(@current_user, :manage_site_settings) %>
                <div>
                  <%= settings.check_box :admins_can_change_passwords, :checked => @account.settings[:admins_can_change_passwords] == true %>
                  <%= settings.label :admins_can_change_passwords, :en => "Password setting by admins" %>
                </div>
                <div>
                  <%= settings.check_box :admins_can_view_notifications, :checked => @account.settings[:admins_can_view_notifications] %>
                  <%= settings.label :admins_can_view_notifications, :en => "Admins can view notifications" %>
                </div>
                <% unless @account.site_admin? %>
                  <div>
                    <%= f.check_box :enable_user_notes, :checked => @account.enable_user_notes %>
                    <%= f.label :enable_user_notes, :en => "Faculty Journal" %>
                  </div>
                  <div>
                    <%= settings.check_box :enable_eportfolios, :checked => @account.settings[:enable_eportfolios] != false %>
                    <%= settings.label :enable_eportfolios, :en => "ePortfolios" %>
                  </div>
                  <div>
                    <%= f.check_box :allow_sis_import, :checked => @account.allow_sis_import %>
                    <%= f.label :allow_sis_import, :en => "SIS imports" %>
                  </div>
                  <div>
                    <%= settings.check_box :allow_invitation_previews, :checked => @account.settings[:allow_invitation_previews] %>
                    <%= settings.label :allow_invitation_previews, :en => "Invitation Previews" %>
                  </div>
                  <div>
                    <%= settings.check_box :enable_alerts, :checked => @account.settings[:enable_alerts] %>
                    <%= settings.label :enable_alerts, :en => "Alerts (beta)" %>
                  </div>
                <% end %>
                <div>
                  <%= settings.check_box :global_includes, :checked => @account.settings[:global_includes] %>
                  <%= settings.label :global_includes, :en => "Global CSS/JavaScript overrides" %>
                  <% if use_new_styles? %>
                    <div class="account_settings__help-text">
                      <%= t do %>
                        When enabled, global JavaScript and CSS files can be uploaded in the
                        <%= link_to t("Theme Editor"), account_theme_editor_path(@account) %>.
                      <% end %>
                    </div>
                    <div id="new_styles_sub_account_includes" style="<%= hidden unless @account.allow_global_includes? %>">
                      <%= settings.check_box :sub_account_includes,
                        id: :account_settings_new_sub_account_includes,
                        checked: @account.settings[:sub_account_includes]
                      %>
                      <%= settings.label :new_sub_account_includes, :en => "Let sub-accounts use the Theme Editor to customize their own branding" %>
                    </div>
                  <% end %>
                </div>
                <div id="show_scheduler_checkbox">
                  <%= settings.check_box :show_scheduler, :checked => @account.settings[:show_scheduler] %>
                  <%= settings.label :show_scheduler, :en => "Enable Scheduler" %>
                </div>
                <div>
                  <%= settings.check_box :enable_profiles, :checked => @account.settings[:enable_profiles] %>
                  <%= settings.label :enable_profiles, :en => "Enable Profiles" %>
                </div>
              <% end %>
              <% if @account.canvas_authentication? %>
                <div>
                  <%= settings.check_box :self_registration, :checked => @account.self_registration? %>
                  <%= settings.label :self_registration, :en => "Self Registration" %>
                </div>
                <div id="self_registration_type_radios">
                  <%= settings.radio_button :self_registration_type, 'all',
                                            :checked => !(@account.settings[:self_registration_type] == 'observer') %>
                  <%= settings.label :self_registration_type_all, :en => "All Account Types" %>
                  <br/>
                  <%= settings.radio_button :self_registration_type, 'observer',
                                            :checked => @account.settings[:self_registration_type] == 'observer' %>
                  <%= settings.label :self_registration_type_observer, :en => "Observer Accounts Only" %>
                </div>
                <div>
                  <%= settings.check_box :open_registration, :checked => @account.open_registration? %>
                  <%= settings.label :open_registration, :en => "Open Registration" %>
                  <% if @account.delegated_authentication? %>
                    <legend>
                      <%= link_to(image_tag('warning.png'), '#',
                                  :class => 'open_registration_delegated_warning_link no-hover',
                                  :title => t(:open_registration_delegated_warning_tooltip,
                                  "An External Identity Provider is Enabled"))
                                %>
                    </legend>

                    <div id="open_registration_delegated_warning_dialog" style="display: none;">
                        <%= t(:open_registration_delegated_warning_message,
                        "An external identity provider is enabled, and users created via open registration may not be able to log in unless
                        the external identity provider's login form has a link back to %{url}.", :url => canvas_login_url) %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div>
                <%= settings.check_box :users_can_edit_name, :checked => @account.settings[:users_can_edit_name] != false %>
                <%= settings.label :users_can_edit_name, :en => "Users can edit their name" %>
              </div>

              <div>
                <%= settings.check_box :edit_institution_email, :checked => @account.edit_institution_email? %>
                <%= settings.label     :edit_institution_email, :en => "Users can delete their institution-assigned email address" %>
              </div>

              <div>
                <%= settings.check_box :author_email_in_notifications, :checked => @account.author_email_in_notifications? %>
                <%= settings.label     :author_email_in_notifications, :en => "Show the email address of sender for user interaction Notifications" %>
              </div>
            <% end %>
            <% unless @account.site_admin? %>
              <div>
                <input type="checkbox" id="enable_equella" <%= 'checked' if !@account.settings[:equella_endpoint].blank? %> />
                <label for="enable_equella"><%= t 'labels.equella', 'Equella' %></label>
              </div>
              <div>
                <input type="checkbox" name="turnitin" id="turnitin" <%= 'checked' unless @account.turnitin_account_id.blank? %> />
                <label for="turnitin"><%= t 'labels.turnitin', 'Turnitin' %></label>
              </div>
             <% end %>
          <% end %>
          <%= f.fields_for :services do |services| %>
            <% Account.services_exposed_to_ui_hash(:setting, @current_user, @account).sort_by { |k,h| Canvas::ICU.collation_key(h[:name]) }.each do |key, service| %>
              <div>
                <%= services.check_box key, :checked => @account.service_enabled?(key) %>
                <%= services.label key, service[:name] + " " %>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <% unless use_new_styles? %>
          <fieldset id="account_settings_global_includes_settings" style="<%= hidden unless @account.allow_global_includes? %>">
            <legend><%= t(:global_js_and_css_includes_title, "Global JavaScript and CSS Includes") %></legend>
            <p style="font-size: 0.9em;"><%= t(:global_js_and_css_includes_description, "These files will be included on all page loads for your account") %></p>
            <%= f.fields_for :settings do |settings| %>
              <table class="formtable">
                <tr>
                  <td><%= settings.blabel :global_javascript, :en => "Global JavaScript URL" %></td>
                  <td><%= settings.text_field :global_javascript, :value => @account.settings[:global_javascript] %></td>
                </tr>
                <tr>
                  <td><%= settings.blabel :global_stylesheet, :en => "Global CSS URL" %></td>
                  <td><%= settings.text_field :global_stylesheet, :value => @account.settings[:global_stylesheet] %></td>
                </tr>
              </table>
              <div>
                <%= settings.check_box :sub_account_includes, :checked => @account.settings[:sub_account_includes] %>
                <%= settings.label :sub_account_includes, :en => "Let sub-accounts define additional includes" %>
              </div>
            <% end %>
          </fieldset>
        <% end %>

        <% if !@account.site_admin? &&
                @account.root_account? &&
                @account.feature_allowed?(:post_grades) &&
                @account.grants_right?(@current_user, :manage_site_settings) %>
            <fieldset id="add_sis_app_token">
              <legend><%= t("SIS Agent Token Authentication") %></legend>
              <p style="font-size: 0.9em;"><%= t("This will allow you to authenticate Canvas for posting grades to SIS") %></p>
              <%= f.fields_for :settings do |settings| %>
                  <table class="formtable">
                    <tr>
                      <td><%= settings.blabel :sis_app_token, :en => "SIS Agent Token" %></td>
                      <td><%= settings.text_field :sis_app_token, :value => @account.settings[:sis_app_token] %></td>
                    </tr>
                    <tr>
                      <td><%= settings.blabel :sis_app_url, :en => "SIS App URL" %></td>
                      <td><%= settings.text_field :sis_app_url, :value => @account.settings[:sis_app_url] %></td>
                    </tr>
                  </table>
              <% end %>
            </fieldset>
        <% end %>

        <% if !@account.site_admin? && Assignment.sis_grade_export_enabled?(@account) %>
          <fieldset>
            <legend><%= t("SIS Grade Export Settings") %></legend>
            <table class="formtable">
              <%= f.fields_for :settings do |settings| %>
                <%= settings.fields_for :sis_default_grade_export do |r| %>
                  <% hash = @account.sis_default_grade_export %>
                  <% disabled = hash[:locked] && hash[:inherited] %>
                  <tr>
                    <td colspan="2"><%= r.check_box :value, :checked => hash[:value], :disabled => disabled %>
                      <%= r.label :sis_default_grade_export, :en => "\"Post Grades to SIS\" checkbox is enabled by default for assignments, graded discussions, and quizzes" %>
                    </td>
                  </tr>
                  <% unless disabled %>
                    <tr>
                      <td colspan="2" class="sub_checkbox">
                        <%= r.check_box :locked, :checked => hash[:locked] %>
                        <%= r.label :locked_for_sub_accounts, :en => "Lock this setting for sub-accounts" %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </table>
          </fieldset>
        <% end %>

        <% if @account.root_account? && !@account.site_admin? && Setting.get("show_feedback_link", "false") == "true"  %>
          <fieldset>
            <legend><%= t(:custom_links_to_include_in_the_help_dialog_popup, "Custom Links to include in the help dialog popup") %></legend>
            <p style="font-size: 0.9em;"><%= t(:if_you_would_like_to_link_to_your_own_campus_support_website_in_the_help_dialog_you_can_do_that_here, "If you would like to link to your own campus support website in the help dialog you can do that here") %></p>
            <%= f.fields_for :custom_help_links do |custom_help_links, i| %>
              <div id="custom_help_links">
                <% ((@account.settings[:custom_help_links] || []) << {}).each_with_index do |help_link, i| %>
                  <div class="custom_help_link <%= raw ' blank" style="display: none;' if help_link.empty? %>">
                    <a href="#" class="delete" title="<%= t(:delete, "delete") %>">&nbsp;</a>
                    <input type="hidden" name="account[custom_help_links][<%= i %>][state]" value="<%= help_link[:state] || 'active' %>" id="custom_help_links_<%= i %>_state" class="custom_help_link_state"/>
                    <table class="formtable">
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_text"><%= before_label :help_link_text, "Text to display for link" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][text]" value="<%= help_link[:text] %>" id="custom_help_links_<%= i %>_text"></td>
                      </tr>
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_subtext"><%= before_label :help_link_subtext, "Sub-text" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][subtext]" value="<%= help_link[:subtext] %>" id="custom_help_links_<%= i %>_subtext"></td>
                      </tr>
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_text"><%= before_label :help_link_url, "URL" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][url]" value="<%= help_link[:url] %>" id="custom_help_links_<%= i %>_url"></td>
                      </tr>
                      <tr>
                        <td><label><%= before_label :help_link_available_to, "Available to" %></label></td>
                        <td>
                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="user"  <%= 'checked' if help_link.empty? or help_link[:available_to].try :include?, 'user' %> id="custom_help_links_<%= i %>_available_to_user">
                          <label for="custom_help_links_<%= i %>_available_to_user"><%= t :help_link_available_to_all_users, "Users" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="student" <%= 'checked' if help_link[:available_to].try :include?, 'student' %> id="custom_help_links_<%= i %>_available_to_student">
                          <label for="custom_help_links_<%= i %>_available_to_student"><%= t :help_link_available_to_all_students, "Students" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="teacher" <%= 'checked' if help_link[:available_to].try :include?, 'teacher' %> id="custom_help_links_<%= i %>_available_to_teacher">
                          <label for="custom_help_links_<%= i %>_available_to_teacher"><%= t :help_link_available_to_all_teachers, "Teachers" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="admin" <%= 'checked' if help_link[:available_to].try :include?, 'admin' %> id="custom_help_links_<%= i %>_available_to_admin">
                          <label for="custom_help_links_<%= i %>_available_to_admin"><%= t :help_link_available_to_all_admins, "Admins" %></label>
                        </td>
                      </tr>
                    </table>
                  </div>
                <% end %>
              </div>
            <% end %>
            <a href="#" class="add-small add_custom_help_link" style="font-size: 0.9em;"><%= t(:add_a_custom_help_link, "Add a custom help link") %></a>
          </fieldset>
        <% end %>

        <% unless @account.site_admin? %>
          <fieldset id="enable_equella_settings" style="display: none;">
            <legend><%= t(:equella_settings_title, "Equella Settings") %></legend>
            <%= f.fields_for :settings do |settings| %>
              <table class="formtable">
                <tr>
                  <td style="vertical-align: top;"><%= settings.label :equella_endpoint, :en => "Equella Endpoint" %></td>
                  <td>
                    <%= settings.text_field :equella_endpoint, :value => @account.settings[:equella_endpoint] %>
                    <div style="font-size: 0.9em;"><%= t(:equall_endpoint_help, "This is the URL to your equella service.  It will probably look something like \"%{sample_url}\".", :sample_url => "http://oer.equella.com/signon.do") %></div>
                  </td>
                </tr>
                <tr>
                  <td><%= settings.blabel :equella_teaser, :en => "Equella Comments" %></td>
                  <td><%= settings.text_area :equella_teaser, :style => "width: 90%; height: 75px;", :value => @account.settings[:equella_teaser] %></td>
                </tr>
              </table>
            <% end %>
          </fieldset>

          <fieldset id="turnitin_settings" style="display: none;">
            <legend><%= t(:turnitin_settings_title, "Turnitin Settings") %></legend>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :turnitin_account_id, :en => "Turnitin Account ID" %></td>
                <td><%= f.text_field :turnitin_account_id, :class => "turnitin_account_settings" %></td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_shared_secret, :en => "Turnitin Shared Secret" %></td>
                <td><%= f.text_field :turnitin_shared_secret, :class => "turnitin_account_settings" %></td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_host, :en => "Turnitin Host" %></td>
                <td><%= f.text_field :turnitin_host, :class => "turnitin_account_settings", :placeholder => "api.turnitin.com" %></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <a href="<%= account_turnitin_confirmation_path(@account) %>" class="confirm_turnitin_settings_link btn">
                    <%= t(:confirm_turnitin_settings_link, "confirm Turnitin settings") %>
                  </a>
                </td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_comments, :en => "Submission Comments" %></td>
                <td>
                  <span style="font-size: 0.9em;"><%= t(:turnitin_comments_help, "these comments will be shown to students when submitting a Turnitin-enabled assignment") %></span>
                  <%= f.text_area :turnitin_comments, :style => "width: 90%; height: 50px;" %>
                </td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_pledge, :en => "Turnitin Pledge" %></td>
                <td>
                  <span style="font-size: 0.9em;"><%= t(:turnitin_pledge_help, "students must check a box acknowledging that they agree with this pledge") %></span>
                  <%= f.text_area :turnitin_pledge, :style => "width: 90%; height: 50px;" %>
                </td>
              </tr>
            </table>
          </fieldset>
        <% end %>

        <% if @account.root_account? and not (exposed_services = Account.services_exposed_to_ui_hash(:service, @current_user)).empty? %>
          <fieldset>
            <legend><%= t(:enabled_web_serices_title, "Enabled Web Services") %></legend>
            <%= f.fields_for :services do |services| %>
              <% exposed_services.sort_by { |k,h| Canvas::ICU.collation_key(h[:name]) }.each do |key, service| %>
                <div>
                  <%= services.check_box key, :checked => @account.service_enabled?(key) %>
                  <%= services.label key, service[:name] + " " %>
                </div>
              <% end %>
            <% end %>
            <div style="display:none;">
              <!-- put all of the helpful dialogs describing what each service does in here
                   the magic is in giving it an id of "<name_of_service>_help_dialog" and class="service_help_dialog" -->
              <div class="service_help_dialog" title="<%= t(:about_google_docs_tooltip, "About Google Docs Previews") %>" id="google_docs_previews_help_dialog">
                <%= mt(:about_google_docs, <<-TEXT, :terms_url => "https://docs.google.com/viewer/TOS")
Google Docs Previews allow users to view documents from
within Canvas, rather than having to download them and
open the corresponding program (e.g. Word or Excel).

Google Docs Previews can also render file types
not supported by the Canvas document previewer.

By using this service you
acknowledge that you have read and agreed to the
[Google Docs Viewer Terms of Service](%{terms_url}).
                  TEXT
                %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <% if @account.root_account? && !@account.site_admin? %>
          <fieldset>
            <legend><%= t(:create_courses_title, "Who Can Create New Courses") %></legend>
            <div style="font-size: 0.8em;"><%= t(:create_courses_description, "(Account Administrators can always create courses)") %></div>
            <%= f.fields_for :settings do |settings| %>
              <div>
                <%= settings.check_box :teachers_can_create_courses, :checked => @account.teachers_can_create_courses? %>
                <%= settings.label :teachers_can_create_courses, :en => "Teachers" %>
              </div>
              <div>
                <%= settings.check_box :no_enrollments_can_create_courses, :checked => @account.no_enrollments_can_create_courses? %>
                <%= settings.label :no_enrollments_can_create_courses, :en => "Users with no enrollments" %>
              </div>
              <div>
                <%= settings.check_box :students_can_create_courses, :checked => @account.students_can_create_courses? %>
                <%= settings.label :students_can_create_courses, :en => "Students" %>
              </div>
            <% end %>
          </fieldset>
        <% end %>

        <%= render partial: 'external_integration_keys', locals: { f: f } %>

        <div class="button-container">
          <button type="submit" class="btn btn-primary"><%= t(:update_settings_button, "Update Settings") %></button>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if can_do(@context, @current_user, :manage_storage_quotas) %>
    <div id="tab-quotas">
      <h2 class="screenreader-only"><%= t('headings.quotas', "Account Quotas") %></h2>
    </div>
  <% end %>

  <% if can_do(@context, @current_user, :manage_account_settings) && @account.root_account? && !@account.site_admin? %>
    <div id="tab-notifications">
      <%= form_for :account, :url => account_url(@account), :html => {:method => :put, :id => "account_settings_notifications"} do |f| %>
        <h2><%= t(:email_notification_from_settings, 'E-mail Notification "From" Settings') %></h2>
        <p><%= t(:email_notification_from_description, "This setting allows the Admin to brand or label the 'From' text on all notifications sent from Canvas for this Account.") %></p>
        <%= f.fields_for :settings do |settings| %>
          <div>
            <%= settings.radio_button :outgoing_email_default_name_option, 'default',
                                      :checked => @account.settings[:outgoing_email_default_name].blank?,
                                      :class => 'notification_from_name_option' %>
            <%= settings.label :outgoing_email_default_name_option_default, :en => "Default Canvas Setting" %>
          </div>
          <div style='padding-left: 2em;'>
            <strong><%= t 'notifications.example', 'Example:' %></strong>
            <blockquote>
              <table class="formtable" style='margin-left: 1.5em;'>
              <tr>
                <td><%= t 'notifications.from', 'From' %></td>
                <td><%= HostUrl.outgoing_email_default_name %> <%= '<notifications@instructure.com>' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.subject', 'Subject' %></td>
                <td><%= t 'notifications.sample_subject', 'Grade Changed: Check In Survey, Testing Course' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_date', 'Date' %></td>
                <td><%= DateTime.now.strftime('%B %d, %Y %I:%M:%S %p %z') %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_to', 'To' %></td>
                <td><%= 'recipient@instructure.com' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_reply_to', 'Reply-To' %></td>
                <td><%= 'notifications+e79df3ljk09s3jkl09ssljk3lkj2l-10191633@instructure.com' %></td>
              </tr>
            </table>
            </blockquote>
          </div>
          <div>
            <%= settings.radio_button :outgoing_email_default_name_option, 'custom',
                                      :checked => !@account.settings[:outgoing_email_default_name].blank?,
                                      :class => 'notification_from_name_option' %>
            <%= settings.label :outgoing_email_default_name_option_custom, :en => 'Custom "From" Name' %>
          </div>
          <div style='padding-left: 2em;'>
            <p>
              <%= t('notifications.custom_name_description', 'If selected, this will replace all other branding sent in Canvas notifications.') %>
              <br/>
              <%= text_field_tag 'account[settings][outgoing_email_default_name]', @account.settings[:outgoing_email_default_name] %>
            </p>
          </div>
          <div style='padding-left: 2em;'>
            <strong><%= t 'notifications.example', 'Example:' %></strong>
            <blockquote>
            <table class="formtable" style='margin-left: 1.5em;'>
              <tr>
                <td><%= t 'notifications.from', 'From' %></td>
                <td><strong id='custom_default_name_display'></strong> <%= '<notifications@instructure.com>' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.subject', 'Subject' %></td>
                <td><%= t 'notifications.sample_subject', 'Grade Changed: Check In Survey, Testing Course' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_date', 'Date' %></td>
                <td><%= DateTime.now.strftime('%B %d, %Y %I:%M:%S %p %z') %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_to', 'To' %></td>
                <td><%= 'recipient@instructure.com' %></td>
              </tr>
              <tr>
                <td><%= t 'notifications.email_reply_to', 'Reply-To' %></td>
                <td><%= 'notifications+e79df3ljk09s3jkl09ssljk3lkj2l-10191633@instructure.com' %></td>
              </tr>
            </table>
            </blockquote>
          </div>

          <h2><%= t('notifications.external_services', 'Notifications Sent to External Services') %></h2>
          <table class="formtable">
            <tr>
              <td><input type="checkbox" id="account_settings_external_notification_warning_checkbox" <%= 'checked="checked"' if @account.settings[:external_notification_warning] %> /></td>
              <td>
                <label for="account_settings_external_notification_warning_checkbox"><%= t('notifications.external_services_label', 'Display one time pop-up warning on Notification Preferences page.') %></label>
                <input type="hidden" name="account[settings][external_notification_warning]" id="account_settings_external_notification_warning" value="<%= @account.settings[:external_notification_warning] ? 1 : 0 %>" />
              </td>
            </tr>
          </table>

          <table style="margin-left: 1.5em;" cellspacing="0" class="formtable">
            <tr>
              <td>
                <b><%= t('notifications.external_services_warning_label', 'Pop-up Message Content:') %></b>
                <blockquote><%= t('notifications.external_services_warning', 'Notice: Some notifications may contain confidential information. Selecting to receive notifications at an email other than your institution provided address may result in sending sensitive Canvas course and group information outside of the institutional system.')%></blockquote>
              </td>
            </tr>
          </table>

        <% end %>

        <div class="button-container">
          <button type="submit" class="btn btn-primary"><%= t(:update_settings_button, "Update Settings") %></button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="tab-users">
    <h2><%= t(:account_admins_title, "Account Admins") %></h2>
    <ul class="admins_list user_list list admins">
      <%= render :partial => 'account_user', :collection => @account_users %>
      <% available_roles = @context.available_account_roles(false, @current_user) %>
      <% unless available_roles.empty? %>
        <%= render :partial => 'account_user', :object => nil %>
      <% end %>
    </ul>
    <% unless available_roles.empty? %>
      <% js_bundle :user_lists %>
      <a href="#" class="add_users_link btn btn-primary"><i class="icon-add"></i> <%= t('links.add_admins', %{Add Account Admins}) %></a>
      <%= form_tag account_add_account_user_url(@account), {:id => "enroll_users_form", :style => "display: none;"} do  %>
        <h2><%= t(:add_admin_title, "Add Account Admins") %></h2>
        <div style="margin-top: 5px;">
          <div>
            <%= label_tag :role_id, :en => "Add More" %>
            <select name="role_id" id="admin_role_id">
            <% available_roles.each do |role| %>
              <option value="<%= role.id %>"><%= AccountUser.readable_type(role.name) %></option>
            <% end %>
            </select>
          </div>
          <%= render :partial => 'shared/user_lists' %>
        </div>
        <div class="form-actions">
          <button type="button" class="btn go_back_button"><%= t('buttons.modify_users', %{Go back and edit the list of users}) %></button>
          <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
          <button type="button" class="btn btn-primary verify_syntax_button"><%= t('buttons.continue', %{Continue...}) %></button>
          <button type="submit" class="btn btn-primary add_users_button"><%= t('buttons.add_users', %{OK Looks Good, Add These Users}) %></button>

        </div>
      <% end %>
    <% end %>
  </div>
  <% if @account.root_account? %>
    <div id="tab-announcements">
      <h2><%= t(:global_announcements_title, "Global Announcements") %></h2>
      <p>
        <%= mt(:global_announcements_description,
        "Global announcements are a way for you to post sticky messages on the dashboard " +
        "of all users in your account.  They will appear on each user's " +
        "dashboard for the given time period or until the user clicks the " +
        "\"close\"(×) link to ignore the alert. **These announcements should be " +
        "used sparingly.**") %>
      </p>
      <ul class="announcements_list unstyled_list">
        <% @announcements.each do |announcement| %>

          <li class="alert">
            <% if can_do(@account, @current_user, :manage_alerts) %>
              <a href="#" rel="<%= context_url(@account, :context_account_notification_url, announcement) %>" class="delete_notification_link close" title="<%= t(:delete_announcement_tooltip, "Delete this Announcement") %>">×</a>
            <% end %>

            <div class="ic-notification ic-notification--admin-created ic-notification--<%= notification_container_classname(announcement) %>">
              <div class="ic-notification__icon" role="presentation">
                <i class="<%= notification_icon_classname(announcement) %>"></i>
                <span class="screenreader-only">
                  <%= accessible_message_icon_text(notification_icon_type(announcement)) %>
                </span>
              </div>
              <div class="ic-notification__content">
                <div class="ic-notification__message">
                  <h4 class="ic-notification__title notification_subject">
                    <%= announcement.subject %>
                  </h4>
                  <span class="notification_message">
                    <%= user_content(announcement.message) %>
                  </span>
                </div>
              </div>
            </div>

            <div class="announcement-details">
              <span>
                <%= t(:alert_timespan, "from %{start_at} to %{end_at}",
                      :start_at => datetime_string(announcement.start_at),
                      :end_at => datetime_string(announcement.end_at)) %>
              </span>&nbsp;&nbsp;
              <%= link_to(context_user_name(@account, announcement.user_id), user_path(announcement.user_id)) %>
            </div>

            <% if announcement.required_account_service %>
              <div>
                <%= AccountServices.allowable_services[announcement.required_account_service.to_sym].try(:[], :name) %>
              </div>
            <% end %>
            <% unless announcement.account_notification_roles.empty? %>
              <div>
                <%= t :announcement_sent_to_roles, "Send only to the following types of users:" %>
                <ul>
                  <% announcement.account_notification_roles.each do |r| %>
                    <% @course_roles.select {|rt| rt[:id] == r.role_id }.each do |rt| %>
                      <li><%= rt[:label] %></li>
                    <% end %>
                    <% # NilEnrollment is a special case %>
                    <% if r.role_id.nil? %>
                      <li><%= t :no_enrollment_roles, "Unenrolled users" %></li>
                    <% end %>
                    <% @account_roles.select {|rt| rt[:id] == r.role_id }.each do |rt| %>
                      <li><%= rt[:label]  %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <% if announcement.months_in_display_cycle %>
              <div>
                <%= t :announcement_sent_to_subset, "Sent to 1 / %{denominator} users each month", denominator: announcement.months_in_display_cycle %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if can_do(@account, @current_user, :manage_alerts) %>
        <a href="#" class="btn btn-primary element_toggler" role="button" data-hide-while-target-shown="true" aria-controls="add_notification_form">
          <i class="icon-add"></i> <%= t(:add_announcement_link, "Add a New Announcement") %>
        </a>
        <%= form_for :account_notification,
                     url: account_account_notifications_url(@account),
                     html: {
                       id: "add_notification_form",
                       style: 'display: none;',
                       class: 'well',
                       role: "region" } do |f| %>
          <table class="formtable">
            <tr>
              <td><%= f.blabel :subject, en: "Subject" %></td>
              <td><%= f.text_field :subject %></td>
            </tr>
            <tr>
              <td>
                <%= f.blabel :start_at, en: "Starts" %>
                <label class="screenreader-only" id="announcment_starts_at_label">
                  <%= t("Announcement starts at") %>
                  <%= datepicker_screenreader_prompt %>
                </label>
              </td>
              <td>
                <%= f.text_field :start_at,
                                 class: 'datetime_field',
                                 "aria-labelledby" => "announcement_starts_at_label",
                                 "data-tooltip" => "",
                                 title: accessible_date_format %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.blabel :end_at, en: "Ends" %>
                <label class="screenreader-only" id="announcment_ends_at_label">
                  <%= t("Announcement ends at") %>
                  <%= datepicker_screenreader_prompt %>
                </label>
              </td>
              <td>
                <%= f.text_field :end_at,
                                 class: 'datetime_field',
                                 "aria-labelledby" => "announcement_ends_at_label",
                                 "data-tooltip" => "",
                                 title: accessible_date_format %>
              </td>
            </tr>
            <tr>
              <td><%= f.blabel :account_notification_icon, :en => "Icon" %></td>
              <td>
                <select id="account_notification_icon" name="account_notification[icon]">
                  <option value="warning" class="warning"><%= t(:alert_icon_warning_option, "warning") %></option>
                  <option value="error" class="error"><%= t(:alert_icon_error_option, "error") %></option>
                  <option value="information" class="information"><%= t(:alert_icon_information_option, "information") %></option>
                  <option value="question" class="question"><%= t(:alert_icon_question_option, "question") %></option>
                  <option value="calendar" class="calendar"><%= t(:alert_icon_calendar_option, "calendar") %></option>
                </select>
              </td>
            </tr>
            <% if @account.site_admin? %>
              <tr id="confirm_global_announcement_field">
                <td colspan=2><input type="checkbox" id="confirm_global_announcement" name="confirm_global_announcement"> <%= label_tag :confirm_global_announcement, t(:confirm_global_announcement, "This announcement will be shown to *all* Canvas users. Confirm that you want to create it.", :wrapper => '<b>\1</b>') %></td>
              </tr>
              <tr>
                <td colspan=2>
                  <div id="survey_announcement_field">
                    <%# don't use the rails check_box helper here, because we don't want the extra hidden element when not checked %>
                    <input type="checkbox" name="account_notification[required_account_service]" id="account_notification_required_account_service" value="account_survey_notifications" />
                    <label><%= t :survey_announcement, "This is a survey announcement. It will be sent to 1 / %{denominator} of users in enabled accounts for each month that it's active.", denominator: f.text_field(:months_in_display_cycle, value: AccountNotification.default_months_in_display_cycle, disabled: true) %></label>
                  </label>
              </tr>
            <% end %>
            <tr>
              <td colspan=2>
                <%= t :announcement_sent_to_roles, "Send only to the following types of users:" %>&nbsp;
                <%= t :announcement_blank_to_all, "(If none are selected, send to everyone)" %>
              </td>
            </tr>
            <tr id="restrict_to_roles">
              <td id="restrict_to_enrollment_roles">
                <%= t :course_roles, "Course roles:" %>
                <ul>
                  <% @course_roles.each do |r| %>
                    <li id="account_notification_role_<%= r[:id]%>">
                      <label>
                        <%= check_box_tag "account_notification_roles[]", r[:id], false, { :class => "account_notification_role_cbx", :id => "account_notification_role_#{r[:id]}_cbx" } %>
                        <%= r[:label] %>
                      </label>
                    </li>
                  <% end %>
                  <% # NilEnrollment is a special case, because it's not actually a role, just a status reflecting that the user is not part of any course %>
                  <li id="account_notification_role_NilEnrollment">
                    <label>
                      <%= check_box_tag "account_notification_roles[]", "NilEnrollment", false, { :class => "account_notification_role_cbx", :id => "account_notification_role_NilEnrollment_cbx" } %>
                      <%= t :no_enrollment_roles, "Unenrolled users" %>
                    </label>
                  </li>
                </ul>
              </td>
              <td id="restrict_to_membership_roles">
                <%= t :account_roles, "Account roles:" %>
                <ul>
                  <% @account_roles.each do |r| %>
                    <li id="account_notification_role_<%= r[:id]%>">
                      <label>
                        <%= check_box_tag "account_notification_roles[]", r[:id], false, { :class => "account_notification_role_cbx", :id => "account_notification_role_#{r[:id]}_cbx" } %>
                        <%= r[:label] %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <tr>
              <td colspan=2><%= f.blabel :message, :en => "Message" %></td>
            </tr>
          </table>
          <div>
            <%= f.text_area :message, :class => 'alert_message', :style => "height: 100px;" %>
            <% if @account.site_admin? %>
              <span >
                <div>
                  <%= t(:interpolate_account_domain, "Enter \"{{ACCOUNT_DOMAIN}}\" to substitute the user's root account domain")  %>
                </div>
                <div>
                  <%= t(:interpolate_user_id, "Enter \"{{CANVAS_USER_ID}}\" to substitute the user's unique Canvas ID")  %>
                </div>
              </span>
            <% end %>
          </div>
          <div class="button-container">
            <button type="submit" class="btn"><%= image_tag "add.png" %> <%= t(:add_announcement_button, "Add Announcement") %></button>
            <button type="button" class="element_toggler btn button-secondary" aria-controls="add_notification_form"><%= t('#buttons.cancel', %{Cancel}) %></button>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if !@available_reports.blank? %>
    <div id="tab-reports">
      <h2 class="screenreader-only"><%= t('headings.sections', "Reports") %></h2>
      <table class="reports">
        <tr class="reports">
          <th class="reports"><%= t 'headers.report_name', 'Name' %></th>
          <th class="reports"><%= t 'headers.report_last_run', 'Last Run' %></th>
          <th class="reports"></th>
        </tr>
        <% @available_reports.sort_by {|_, details| details.title}.each do |report, details|
           title = details.title
           description_partial = details[:description_partial]
           description_partial = report + '_description' if description_partial == true
           parameters_partial = details[:parameters_partial]
           parameters_partial = report + '_parameters' if parameters_partial == true
           last_complete = @last_complete_reports[report]
           last_report = @last_reports[report]
           in_progress = last_report && last_report.in_progress?
           #the extra text is added so that you can give more than the date for the last run report
           extra_text = last_complete.try(:parameters).try(:[], "extra_text")
        %>
          <tr id="<%= report %>" class="reports">
            <td class="title reports">
              <span class="title"><%= title %></span>
              <% if description_partial %>
                <a href="#" class="open_report_description_link" role="button" aria-haspopup="true" aria-owns="<%= "#{report}_report_description" %>">
                  <i class="icon-question standalone-icon"></i>
                  <span class="screenreader-only"><%= t(:open_report_description, "Open Report Description") %></span>
                </a>
                <div id="<%= "#{report}_report_description" %>" style="display: none" class="report_description">
                  <%= render(:partial => description_partial) %>
                </div>
              <% end %>
            </td>
            <td class="last-run reports">
              <% if last_complete %>
                <%= datetime_string(last_complete.created_at) %>
                <%#the extra text is added so that you can give more than the date for the last run report %>
                <% if extra_text %>
                  (<%= extra_text %>)
                <% end %>
                <% if last_complete.workflow_state == 'complete' %>
                  <%= link_to "<i class='icon-download'></i>".html_safe, context_url(last_complete.account, :context_file_download_url, last_complete.attachment.id) %>
                <% end %>
              <% else %>
                <%= t 'report_last_run_never', 'Never' %>
              <% end %>
            </td>
            <td class="action reports">
              <% if parameters_partial %>
                <div style="display: none">
                  <div class="report_dialog">
                    <form id="<%= report %>_form" class="run_report_form" action="<%= api_v1_account_create_report_path(@account, report) %>">
                      <div class="report_parameters">
                        <%= render :partial => parameters_partial if parameters_partial %>
                      </div>
                      <br />
                      <a href="#" id="run_<%= report %>" class="btn btn-primary btn-small run_report_link"><%= t 'links.run_report', 'Run Report' %></a>
                    </form>
                  </div>
                </div>
                <span class="running_report_message" style="<%= hidden unless in_progress %>">
                  <%= t('report_running', 'The report is running.*You\'ll receive an email when it is done.*', :wrapper => '<div>\1</div>') %>
                </span>
                <a href="#" id="configure_<%= report %>" style="<%= hidden if in_progress %>" class="btn btn-small configure_report_link"><%= t 'links.configure_report', 'Configure...' %></a>
              <% else %>
                <form id="<%= report %>_form" class="run_report_form" action="<%= api_v1_account_create_report_path(@account, report) %>">
                  <span class="running_report_message" style="<%= hidden unless in_progress %>">
                    <%= t('report_running', 'The report is running.*You\'ll receive an email when it is done.*', :wrapper => '<div>\1</div>') %>
                  </span>
                  <a href="#" id="run_<%= report %>" style="<%= hidden if in_progress %>" class="btn btn-small btn-primary run_report_link"><%= t 'links.run_report', 'Run Report' %></a>
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if can_do(@context, @current_user, :manage_account_settings) %>
      <div id="tab-tools">
        <%= render :partial => 'external_tools/external_tools', :object => @context.context_external_tools.active %>
      </div>
  <% end %>
  <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
      <div id="tab-alerts">
        <h2><%= t(:alerts_title, "Alerts") %></h2>
        <%= render :partial => 'alerts/alerts' %>
      </div>
  <% end %>
  <% if can_do(@context, @current_user, :manage_feature_flags) %>
    <div id="tab-features"></div>
  <% end %>
</div>
